h1,h2,h3,h4,h5, button, .amiibo-name{
    font-family: 'Bitter', serif;

}
#navbar{
    z-index: 1;
}

#ribbon{
    background-color: rgb(35, 141, 202);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 25px, rgba(238, 226, 226, 0.100) 25px, rgba(238, 226, 226, 0.100) 40px);
}
#ribbon::after{
    content: '';
    background-color: transparent;
    display: block;
    height: 20px;
    width: 50%;
    margin: 0 auto;
    position: relative;
    left: auto;
    margin-top: -40px;
}
#separator-ribbon{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
#separator-ribbon .content{
    width: 150%;
    height: 150px;
    margin-left: -25%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
#moto{
    background-color: rgb(4, 54, 189);
    position: relative;
    margin-top: -20px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


#moto img{
    position: relative;
    margin-top: -30px;
}

#racing{
    
    background: rgb(255,255,255);
    background:   linear-gradient(0deg, rgba(248, 247, 247, 0.87) 0%, rgb(4, 42, 145) 57%);
    background-repeat: repeat-x;
    background-size: 75%;
    margin-top: -20px;
}
#racing h3{
    color: aliceblue;
}

.card-border{
    border: solid 10px white;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}
.card-border:hover{
    transform: scale(1.05);
}

.text-shadow{
    text-shadow: 0 3px 3px rgba(0,0,0,0.6);
}
#separator-mot{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
#separator-mot .content{
    background: url(../img/bg-03.png);
    width: 110%;
    height: 100px;
    margin-left: -5%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

#separator-mot-footer{
    height: 1              00vw;
}


#mot{
    background: url(../img/bg-03.png);
    background-repeat: no-repeat, repeat;
    background-position: bottom center, center center;
    background-size: 100%, auto;
}
.mot{
    cursor: pointer;
    transition: all ease-out 0.2s;
}
.mot:hover{
    transform: scale(1.05);
}

.mot-name{
    background-color: rgba(0,0,0,0.4);
    color: white;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}

#play{   
    background: url(../img/bg-04.png);
    background-color: rgb(26, 243, 171);
    background-size: 40px 40px;
}

#footer{
    background: url(../img/bg-04.png);
    background-color: rgba(70, 162, 238, 0.945);
    background-size: 50px 50px;
}
